
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flight Booking App</title>
</head>
<body>
    <div>
        <h1>Welcome to Flight Booking Website!</h1>
        <p class='intro'>Explore the world with our seamless flight booking experience. Book your flights with ease and embark on unforgettable journeys. Your next adventure awaits!</p>
        
        <div class="welcome">
            <div class="partition">
                <h2>How to Use Our Flight Booking Website?</h2>
                <p class='firstline'>Booking your flights is a breeze with our user-friendly platform. Create an account, search for available flights, choose your preferred options, and secure your seats. Whether it's a business trip or a leisure getaway, we've got you covered.</p>
                <p class='firstline'>Join us in making travel convenient and enjoyable. Your next destination is just a click away!</p>
            </div>

            <div class="box">
                <div class-'loginbox'>
                    <p class='lastline' id="head">Ready to Fly? -</p><br>
                    <p class="lastline">Already have an account</p>
                    <a class='login' href="/login">Login</a> |
                    <br>
                    <p class="lastline">Create a new account</p>
                    <a class='signup' href="/signup">Sign Up</a>
                </div>
                
                <div class-'adminbox'>
                    <p class='lastline'>Airline Administrators login through here!!  -</p>
                    <a class='admin_login' href="/admin_login">Admin Login</a>
                </div>
            </div>
        </div>
        
        <br>
        <h2 class="why">Why Choose Our Flight Booking Service?</h2>
        <ol>
            <li>
                <h3>Wide Selection</h3>
                <p>Explore a vast selection of flights to various destinations. We offer options to suit your travel preferences and schedules, ensuring a seamless booking experience.</p>
            </li>
            <li>
                <h3>Easy Booking Process</h3>
                <p>Our user-friendly interface makes booking flights quick and straightforward. Enter your details, choose your flights, and complete the booking process in just a few simple steps.</p>
            </li>
            <li>
                <h3>Secure Transactions</h3>
                <p>Rest assured that your transactions are secure. We prioritize the safety and privacy of your information, providing a trustworthy platform for all your flight bookings.</p>
            </li>
            <li>
                <h3>Customer Support</h3>
                <p>Our dedicated customer support team is ready to assist you. Whether you have questions about your booking or need assistance, we're here to help you every step of the way.</p>
            </li>
        </ol>

        <br>
    </div>

    <div class='footer'>
        <h2>Contact Us</h2>
        <p>© 2023 Flight Booking</p>
        <p><u><b>Customer Support:</u> +1-800-123-4567 | <u>Email:</u> support@flightbooking.com</p>
    </div>
</body>
</html>



    